button {
    width: 200px;
    height: 50px;
    background-color: #FF3131;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
	border: none;
    border-radius: 8px ;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}