.card {
    width: 230px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap: 16px;
}
.card__colorido {
    background-color: #FF313190;
}